body {
    background-color: rgb(41, 40, 40);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    height: 75px;
    width: 100%;
    background-color: brown;
    z-index: 1;
    position: relative;




}

#foodapptitle {
    color: white;
    font-size: 30px;
    align-self: center;

}

.navbar-contents {
    /* top right bottom left */
    padding: 10px 5px 10px 0px;
    display: flex;
    justify-content: space-around;

}

.cart {
    background-color: rgb(55, 13, 13);
    border-radius: 20px;
    height: 50px;
    width: 175px;
    color: white;
    text-align: center;

}

.cart-content {
    padding-top: 15px;
}

#cart-text {
    padding-right: 10px;
}

#cart-number {
    background-color: brown;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.image {
transform: rotate(-4deg);


}

#image1{
    width: 100%;
    padding-bottom:;
}

.box {
    background-color: rgb(41, 40, 40);


}

.box-content {
    color: white;
    background-color: rgb(41, 40, 40);
    text-align: center;
    height: max-content;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    bottom: 150px;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    -webkit-box-shadow: -1px 5px 15px 5px rgba(0, 0, 0, 0.38);
    box-shadow: -1px 5px 15px 5px rgba(0, 0, 0, 0.38);
}

.foodbox-container {
    margin: 20px;
}

.foodbox {
    background-color: white;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    bottom: 100px;


}

.sushi {
    color: black;
}

#sushitext {
    color: black;
}

#sushisubtext {
    font-style: italic;
    font-size: 12px;
}

#sushiprice {
    color: brown;
}


.Schnitzel {}

#schnitzeltext {
    color: black;
}

#schnitzelsubtext {
    font-style: italic;
    font-size: 12px;
}

#schnitzelprice {
    color: brown;
}

.barbecue-Burger {}

#barbecue-Burgertext {
    color: black;
}

#barbecue-Burgersubtext {
    font-style: italic;
    font-size: 12px;
}

#barbecue-Burgerprice {
    color: brown;
}

.green-Bowl {}

#green-Bowltext {
    color: black;
}

#green-Bowlsubtext {
    font-style: italic;
    font-size: 12px;
}

#green-Bowlprice {
    color: brown;
}

.box1 {
    display: flex;
    justify-content: space-between;
}

.amount {
    border-radius: 20px;
    height: 50px;
    width: 175px;
    color: black;
    text-align: center;
    
    padding-top: 20px;

}

#amount {

}

#amount-number {

}

.amount input{
    width: 20px;
}

.add{
    background-color: rgb(55, 13, 13);
    border-radius: 20px;
    height: 30px;
    width: 150px;
    color: white;
    text-align: center;
    padding-top: 10px;
    
}

hr{
    margin-right: 5%;
}

.soxl{
    display: flex;
    flex-direction: column;
    
}